*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
.row{
	width: 1200px;
	border: 1px solid black;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	/*flex-wrap: wrap-reverse;*/
	/*flex-direction: row;*/
	/*flex-direction: row-reverse;*/
	/*flex-direction: column-reverse;*/
	/*flex-flow: row-reverse wrap-reverse;*/

	/*justify-content: flex-end;*/
	/*justify-content: center;*/
/*	justify-content: space-between;
	justify-content: space-around;*/
	justify-content: space-evenly;
	/*justify-content: center;*/
	/*align-items: flex-start;*/
	/*align-items: flex-end;*/
	/*align-items: baseline;*/
	/*height: 2000px;*/
	align-content: center;
	align-content: space-between;
	align-content: space-around;
	/*flex-direction: column;*/


}
.column{
	/*width: 300px;*/
	flex-basis: 300px;
	background-color: black;
	color: white;
	border-radius: 15px;
	padding: 15px;
	box-sizing: border-box;
	margin: 10px;
	order: 3;
	flex-grow: 1;
}
.column img{
	width: 100%;
}